$primary-color: rgb(145, 131, 176);
$secondary-color: rgb(233, 211, 22);


body {
    background: $primary-color;
    color: black;
    height: 100%;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
}

html {
    height: 100%;
    margin: 0;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);
}

.main-header {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100vw;

    div {
        border: 2px solid $secondary-color;
        background: lighten($primary-color, 10);
        padding: 1rem 0;
        text-align: center;
        font-size: 1rem;
        font-variant: small-caps;
        width: 100%;
        cursor: pointer;

        &:hover {
            color: $secondary-color;
        }
    }
}


.main-page {
    width: 100vw;
    height: 100vh;
    left: 0;
    background: url("../img/pexels-terence-koh-8970204.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}

.big-heading {
    text-align: center;
    border-radius: 50%;
    color: $secondary-color;
    background-color: black;
}


footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: white;
    height: 40px;
}